<header class="header">
    <h1 class="header-title">EasyTask</h1>
    <div class="img-div">
    <img src="https://github.com/mschwarzmueller/angular-complete-guide-course-resources/blob/main/attachments/02-essentials/task-management-logo.png?raw=true" alt="To-Do List Cover" class="header-image">
    </div>
    <!-- <img src="https://github.com/mschwarzmueller/angular-complete-guide-course-resources/blob/main/attachments/02-essentials/task-management-logo.png?raw=true" alt="To-Do List Cover" class="header-image"> -->
    <div class="header-content">
        <!-- <h1 class="header-title">EasyTask</h1> -->
        <p class="header-subtitle">Enterprise-level task management without friction</p>
    </div>
</header>