<app-header />
<main>
    <ul id="user">
        <!-- @for da @if else gamoiyeneba axal versiebshi, 17ze qvemot versiebi iyeneben *NgFor da *NgIf-s, amat schirdeba daimporteba da axal versiebshi import araa sachiro -->
        @for (user of users; track user.id) {
            <li>
                <app-user
                [user]="user"
                [selected]="user.id === selectedUserId"
                (select)="onSelectUser($event)"
                />
            </li> 
        }
        <!-- <li>
            <app-user
            [user]="users[0]"
            (select)="onSelectUser($event)"
            />
        </li>
        <li>
            <app-user
            [user]="users[1]"
            (select)="onSelectUser($event)"
            />
        </li> -->
    </ul>

    @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
    } @else {
        <p id="fallback">Airchie user mati taskebis sanaxavad</p>
    }
    <!-- <app-tasks [name]="selectedUser ? selectedUser.name : ''" /> -->
</main>